// Colors...
$primary: #4C0098;
$secondary: #28222D;
$success: #159800;
$info: #0098FF;
$warning: #FF5A00;
$danger: #F00;
$light: #F8F9FA;
$dark: #212529;

// General...
$body-bg: #FFF;
$body-color: #000;
$body-bg-dark: #17151A;
$body-color-dark: #FFF;

// Typography...
$font-family-base: system-ui;
$font-size-base: 1rem;
$font-weight-base: 500;

// Spacing...


// Breakpoints...


// Components...


// Grid System...
