// Colors...
$primary: #4C0098;
$secondary: #1F1D21;
$success: #159800;
$info: #0098FF;
$warning: #FF5A00;
$danger: #F00;
$light: #F8F9FA;
$dark: #212529;

// General...
$body-bg: #FFF;
$body-color: #000;
$body-bg-dark: #17151A;
$body-color-dark: #FFF;

// Typography...
$font-family-sans-serif: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-size-base: 1rem;
$line-height-base: 1.6;

// Spacing...


// Breakpoints...


// Components...


// Grid System...
